.domain {
    stroke: black;
    stroke-width: .2;
    opacity: .6;
}

.tick {
    stroke-width: .5;
}

.tick text {
    font-size: .8em;
}

.tick line {
    stroke-width: .2;
}

#current-date-marker {
    stroke-dasharray: 3;
}