:root {
    --queen-blue: #44708D;
    --blue-sapphire: #285776;
    --indigo-dye: #154360;
    --deep-blue: #052D47;
    --prussian-blue: #004e59;
    --rich-black: #021C2D;

    --theme-color-1: #25274d;
    --theme-color-2: #464866;
    --theme-color-3: #aaabb8;
    --theme-color-4: #2e9cca;
    --theme-color-5: #29648a;
}
